/* #47c2c9  azul claro
#5fbf84 verde */

*{
  padding: 0%;
  margin: 0%;
}
body{
 background-color: white;
}
h1{
  color: white;
  font-family: 'Bungee', cursive;
}
.header{
  background-color: #5fbf84;
}
.pokemon-card{
  
}

.card{
  display: flex;
  border: 3px solid #5fbf84;
  border-radius: 3%;
  }

/*MEDIDAS CON MEDIA QUERIES*/

/*TAMAÑOS DEL GRID*/
.col-1{width: 8.333333333333332%;}
.col-2{width: 16.666666666666664%;}
.col-3{width: 25%;}
.col-4{width: 33.33333333333333%;}
.col-5{width: 41.66666666666667%;}
.col-6{width: 50%;}
.col-7{width: 58.333333333333336%;}
.col-8{width: 66.66666666666666%;}
.col-9{width: 75%;}
.col-10{width: 83.33333333333334%;}
.col-11{width: 91.66666666666666%;}
.col-12{width: 100%;}

.row:before, .row:after{
  content:"";
  display:table;
 }
 .row:after{
  clear:both;
 }



 @media screen and (max-width: 480px){
   .cards-area{
     width: 100%;
     background: red
   }
 }