*{
  padding: 0%;
  margin: 0%;
}
body{
 /*background-color: #3a6088;*/
 background-color: white;
}
h1{
  color: white;
  font-family: 'Bungee', cursive;
}
.logo{
  background-color: #2a7b9b;
  height: 15vh;
}
/*DISEﾃ前 DE MENU*/
select{
  background-color: #2a7b9b;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  color: white;
  margin-top: 1%;
  margin-left: 1%;
  width: 30%;
  height: 5vh;
  font-size: 20px;
  text-align: center;
}
.main-container{
  height: 85vh;
  display: flex;
  text-align: center;
  margin-top: 2%;
}
/*DISEﾃ前 DE SCROLL*/
.background-card{
  overflow-y: scroll;
}
.background-card::-webkit-scrollbar {
  background-color: #2a7b9b;
  border-radius: 1rem;
}
.background-card::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 1rem;
  height: 3rem;
}
.background-card::-webkit-scrollbar-thumb:hover {
 background-color: white;
  border-radius: 1rem;
  height: 5rem;
}

/*DISEﾃ前 DE TARJETA POKEMON*/
.pokemon-card{
  margin: 2%;
}
.card{
/*background-color: #98b1c4;*/
  background-color: #2a7b9b;
  display: inline-block;
  margin: 2%;
  border-radius: 3%;
 
}
.card:hover {
  transform: scale(1.1);
  transition: transform 0.2s;
}
.card p{
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.2em;
}
.curious-fact{
  background-color: #2a7b9b;
  height: 30vh;
  margin: 2%;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1em;
  border-radius: 3%;
  }
.curious-fact p{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  color: white;
}
/*TAMAﾃ前S DEL GRID*/
.col-1{width: 8.333333333333332%;}
.col-2{width: 16.666666666666664%;}
.col-3{width: 25%;}
.col-4{width: 33.33333333333333%;}
.col-5{width: 41.66666666666667%;}
.col-6{width: 50%;}
.col-7{width: 58.333333333333336%;}
.col-8{width: 66.66666666666666%;}
.col-9{width: 75%;}
.col-10{width: 83.33333333333334%;}
.col-11{width: 91.66666666666666%;}
.col-12{width: 100%;}

.row:before, .row:after{
  content:"";
  display:table;
 }
 .row:after{
  clear:both;
 }

/*MEDIDAS CON MEDIA QUERIES*/
@media (min-width: 800px){
h1{
  font-size: 65px;
}
 select{
  width: 30%;
  height: 5vh;
  font-size: 20px;
  text-align: center;
 }
 .curious-fact p{
   font-size: 1.5rem;
 }
}
@media (min-width: 480px){
  .logo{
    /*background-color: rgb(25, 61, 95);*/
    height: 9vh;
  }
  h1{
    font-size: 50px;
  }
  select{
    /* width: 18%; */
    height: 5vh;
    font-size: 15px;
  }
  .menu-container{
    height: 5vh;
    margin-left: 3%;
  }
}
@media (max-width: 480px){
.logo{
  height: 8vh;
  }
  h1{
    font-size: 25px;
    text-align: center;
  }
  /* select{
    width: 33%;
    margin-left: -2%;
    font-size: 16px;
  } */
  .curious-fact{
    display: none;
  }
  .background-card{
    width: 100%;
  }
  .card{
    width: 44%;
    font-size: 8px;
  }
}
